<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 BURO210. All rights reserved.
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Buro210_Reindex" setup_version="1.0.0">
        <module name="Magento_Indexer"/>
    </module>
</config>